<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="clean_cache_by_tags">
        <observer name="develodesign_cachelog_clean_cache_by_tags" instance="Develodesign\CacheLog\Observer\CacheTagsClean"/>
    </event>
</config>
